/* Home Page */
.hero {
  width: 100%;
  background-color: rgb(213, 255, 241);
  padding: 30px;
}

.hero__img {
  width: 100%;
}

.hero__content > h1 {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 5px;
}
